<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seleziona Teatro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Seleziona un Teatro</h1>
    <ul>
        <li th:each="teatro : ${teatri}">
            <span th:text="${teatro.nome}">Nome Teatro</span>
            <form th:action="@{/prenotazioni/seleziona-servizio}" method="get" style="display:inline;">
                <input type="hidden" name="teatroId" th:value="${teatro.id}" />
                <button type="submit">Prenota</button>
            </form>
        </li>
    </ul>
</body>
</html>
