<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuova/Modifica Prenotazione</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<a th:href="@{/}" class="button-icon" style="position: absolute; top: 10px; right: 20px;">
    LOGOUT
</a>
<div class="container">
    <h1>Prenotazione</h1>
    
    <div th:if="${errore}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errore}"></p>
    </div>
    
    <h2 th:text="${nomeCompagnia}">Nome della compagnia</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Orario</th>
                <th>Teatro</th>
                <th>Servizio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${prenotazioniCompagnia}">
                <td th:text="${p.data}"></td>
                <td th:text="${p.orarioArrivo}"></td>
                <td th:text="${p.teatroServizio.teatro.nome}"></td>
                <td th:text="${p.teatroServizio.tipoServizio.tipoServizio}"></td>
                <td class="actions">
            	<a th:href="@{/prenotazioni/editu/{id}(id=${p.id})}" class="button-icon" title="Modifica">
            	✏️
        		</a>
        		<a th:href="@{/prenotazioni/deleteu/{id}(id=${p.id})}" 
           			class="button-icon" 
           			title="Elimina" 
           			onclick="return confirm('Sei sicuro di voler eliminare questa prenotazione?')">
            		🗑️
        		</a>
        		</td>   
            </tr>
        </tbody>
    </table>
    

    
	<h2>Nuova prenotazione</h2>
    <form th:action="@{/prenotazioni}" method="post" th:object="${prenotazione}">
        <input type="hidden" th:field="*{compagniaId}" />
        <select th:field="*{teatroServizioId}" required>
    		<option value="1" disabled selected>-- Seleziona Teatro-Servizio --</option>
    		<option th:each="ts : ${teatriServizi}"
            		th:value="${ts.id}"
            		th:text="${ts.teatro.nome + ' - ' + ts.tipoServizio.tipoServizio}">
    		</option>
		</select>
		<input type="date" th:field="*{data}" required />
        <input type="time" th:field="*{orarioArrivo}" required />
        <br>
        <button type="submit">Salva</button>
    </form>
</div>
</body>
</html>