<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seleziona Servizio</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

    <h1>Seleziona un Servizio per il Teatro</h1>

    <p><strong>Teatro:</strong> <span th:text="${teatro.nome}"></span></p>

    <form th:action="@{/prenotazioni/salva}" method="post">
        <input type="hidden" name="teatroId" th:value="${teatro.id}" />
        
        <label for="servizio">Seleziona un Servizio:</label>
        <select name="servizioId" id="servizio">
            <option th:each="servizio : ${servizi}" 
                    th:value="${servizio.id}" 
                    th:text="${servizio.tipoServizio}"></option>
        </select>
        
        <button type="submit">Prenota</button>
    </form>

    <a href="#" th:href="@{/prenotazioni/teatri}">Torna alla lista dei teatri</a>

</body>
</html>
